
# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_NAME=sge

# Chave Secreta do Flask
# Gere uma chave com: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=

# Configurações da Aplicação
FLASK_ENV=development
FLASK_DEBUG=True